:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 96.5%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 96.5%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 218.6 22.6% 12.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 3.7% 84.1%;
  --secondary-foreground: 0 0% 3.9%;
  --muted: 0 0% 94.5%;
  --muted-foreground: 0 0% 37.3%;
  --accent: 218.6 22.6% 12.2%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 72.2% 50.6%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 86.7%;
  --input: 0 0% 86.7%;
  --ring: 218.6 22.6% 12.2%;
  --sidebar: 0 0% 95.7%;
  --sidebar-foreground: 0 0% 3.9%;
  --sidebar-primary: 218.6 22.6% 12.2%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 218.6 22.6% 12.2%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 0 0% 86.7%;
  --sidebar-ring: 218.6 22.6% 12.2%;
  --chart-1: 218.6 22.6% 12.2%;
  --chart-2: 220 3.7% 84.1%;
  --chart-3: 218.2 21.6% 10%;
  --chart-4: 220 4.1% 57.1%;
  --chart-5: 222.9 16.3% 8.4%;
}

.dark {
  --background: 0 0% 100%;
  --foreground: 218.6 22.6% 12.2%;
  --card: 240 6.7% 97.1%;
  --card-foreground: 218.6 22.6% 12.2%;
  --popover: 240 6.7% 97.1%;
  --popover-foreground: 218.6 22.6% 12.2%;
  --primary: 218.6 22.6% 12.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 225 4.4% 82.4%;
  --secondary-foreground: 0 0% 3.9%;
  --muted: 240 4% 90.2%;
  --muted-foreground: 218.2 4.9% 43.7%;
  --accent: 218.6 22.6% 12.2%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 3.9%;
  --border: 225 4% 80.4%;
  --input: 225 4% 80.4%;
  --ring: 218.6 22.6% 12.2%;
  --sidebar: 240 4% 95.1%;
  --sidebar-foreground: 218.6 22.6% 12.2%;
  --sidebar-primary: 218.6 22.6% 12.2%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 218.6 22.6% 12.2%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 225 4% 80.4%;
  --sidebar-ring: 218.6 22.6% 12.2%;
  --chart-1: 218.6 22.6% 12.2%;
  --chart-2: 225 4.4% 82.4%;
  --chart-3: 218.2 21.6% 10%;
  --chart-4: 220 4.1% 57.1%;
  --chart-5: 222.9 16.3% 8.4%;
}
